<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Booker Tests" parallel="classes" thread-count="4" verbose="1">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="BookingApiTests" verbose="2" preserve-order="true">
        <classes>
            <class name="api.booking.DeleteBookingTests"/>
            <class name="api.booking.GetBookingTests"/>
            <class name="api.booking.PatchBookingTests"/>
            <class name="api.booking.PostBookingTests"/>
            <class name="api.booking.PutBookingTests"/>
        </classes>
    </test>

    <test name="Booking e2e Tests" verbose="2" preserve-order="true">
        <classes>
            <class name="api.integration.BookingE2ETests"/>
        </classes>
    </test>
</suite>